h2 align="center"  動態下拉式選單：兩框連動（兩層樹狀選項）
javascript:
  department=new Array();
  department[0]=["基隆", "彭佳嶼", "竹子湖", "張世杰", "張智星"];  // 資訊系
  department[1]=["黃瑞星", "黃仲陵", "呂忠津", "鄭伯泰", "盧向成"];  // 電機系
  department[2]=["楊敬堂", "王培仁", "葉銘權", "宋鎮國"];     // 動機系
  department[3]=["王天戈", "開執中", "梁正宏"];        // 工科系
  department[3]=["王天戈", "開執中", "梁正宏"];        // 工科系
  function renew(index){
    for(var i=0;i<department[index].length;i++)
      document.myForm.member.options[i]=new Option(department[index][i], department[index][i]); // 設定新選項
    document.myForm.member.length=department[index].length; // 刪除多餘的選項
  }
form name="myForm" 
  系別：
  select onchange="renew(this.selectedIndex);" size="5" 
    option value="北部" 北部
    option value="中部" 中部
    option value="南部" 南部
    option value="東部" 東部
    option value="離島" 離島
  隊員：
  select name="member" size="5" 
  option value="" 請由左方選取系別